{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords">
    <meta name="description">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        Cargar Page
    </title>
</head>
<body>
    <nav class="navbar">
        {% include 'core/components/navbar.html' %}
    </nav>
    <main class="contenedor-main">
        <h1>Cargar Page</h1>
        <section class="pagehub-form-container" id="form_pagehub">
            <form id="pagehub_form" class="pagehub-form" enctype="multipart/form-data">
                {% csrf_token %}
                <select name="categoria" id="categoria">
                    <option class="option">Categoría</option>
                </select>
                <div class="cargar-sub-container">
                    <select name="sub_categoria" id="sub_categoria">
                        <option class="option">Sub Categoría</option>
                    </select>
                    <a href="{% url 'pagehub:cargar_sub_categoria' %}" class="boton-basico decoracion">Cargar Sub-categoría</a>
                </div>
                <input type="text" name="nombre" placeholder="Nombre" required>
                <input type="url" name="link" pattern="https://.*" placeholder="https://ejemplo.com" title="El enlace debe comenzar con https://">
                <section class="foto-page">
                    <p>Foto relacionada:</p>
                    <input type="file" name="foto">
                </section>
                <textarea name="descripcion" id="descripcion" placeholder="Descripción"></textarea>
                <button type="submit" class="boton-basico">Cargar</button>
            </form>
        </section>
        <div class="atras">
            <a href="../" class="boton-basico">Atras</a>
        </div>
    </main>
    <footer class="footer">
        {% include 'core/components/footer.html' %}
    </footer>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{% static 'pagehub/scripts/cargar_page.js' %}"></script>
</body>
</html>