{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords">
    <meta name="description">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        PageHub
    </title>
</head>
<body>
    <nav class="navbar">
        {% include 'core/components/navbar.html' %}
    </nav>
    <main class="contenedor-main">
        <h1>Pages en {{ categoria }}</h1>
        <div class="pages-contenedor">
            {% for sub, pages in pages_por_subcategoria.items %}
                <div class="filtro-sub-categoria">
                    <h3 class="titulo-sub-categoria">{{ sub }}</h3>
                    <ul class="pages">
                        {% for page in pages %}
                            <li>
                                <a href="{{ page.link }}" target="_blank" class="page">
                                    <p>{{ page.nombre }}</p>
                                    {% if page.foto %}
                                        <img src="{{ MEDIA_URL }}{{ page.foto }}" alt="{{ page.nombre }}" class="foto-page-card">
                                    {% endif %}
                                    <p>{{ page.link }}</p>
                                    <p>{{ page.descripcion }}</p>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div class="atras">
            <a href="../../" class="boton-basico">Atrás</a>
        </div>
    </main>
    <footer class="footer">
        {% include 'core/components/footer.html' %}
    </footer>
</body>
</html>