{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords">
    <meta name="description">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        PageHub
    </title>
</head>
<body>
    <nav class="navbar">
        {% include 'core/components/navbar.html' %}
    </nav>
    <main class="contenedor-main">
        <h1>Páginas en la categoría {{ categoria }}</h1>
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.link }}">{{ page.nombre }}</a></li>
            {% empty %}
                <li>No hay páginas en esta categoría aún.</li>
            {% endfor %}
        </ul>
        <a href="../../" class="boton-rojo">Atrás</a>
    </main>
    <footer class="footer">
        {% include 'core/components/footer.html' %}
    </footer>
</body>
</html>