{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords">
    <meta name="description">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        PageHub
    </title>
</head>
<body>
    <nav class="navbar">
        {% include 'core/components/navbar.html' %}
    </nav>
    <main class="contenedor-main">
        <h1 class="hub-titulo">Mi Hub de Pages</h1>
        <a href="{% url 'pagehub:cargar_page' %}" class="boton-basico decoracion margin-bottom">Cargar Page</a>
        <div class="categorias-main">
            <h2 class="titulo-categorias">Categorías</h2>
            <div class="categorias-container">
                {% if categorias %}
                    {% for categoria in categorias %}
                        {% if categoria.foto %}
                            <a href="{% url 'pagehub:categoria' categoria.id %}" class="categoria">{{ categoria.nombre }}<img src="{{ MEDIA_URL }}{{ categoria.foto }}" alt="Foto de {{ categoria.nombre}}" class="foto-categoria"></a>
                        {% else %}
                            <a href="{% url 'pagehub:categoria' categoria.id %}" class="categoria">{{ categoria.nombre }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h3 class="sin-categorias">Todavía no hay categorías cargadas</h3>
                {% endif %}
            </div>
        </div>
    </main>
    <footer class="footer">
        {% include 'core/components/footer.html' %}
    </footer>

    <script src="{% static 'pagehub/script/index.js' %}"></script>
</body>
</html>